@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:400,600");
html {
  color: #0a090c;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif; }

body {
  margin: inherit;
  padding: inherit;
  background-color: #f0edee; }

header {
  display: flex;
  justify-content: space-around;
  font-family: "Oswald", serif;
  background-color: #00aced;
  padding: 0.6em;
  box-shadow: 0 -10px 10px 6px;
  align-items: center; }
  header h1, header h2, header h3, header h4, header h5, header h6 {
    color: #f0edee;
    padding: inherit;
    margin: 0; }
  header a {
    text-decoration: none;
    color: #f0edee; }
  header #nav {
    color: #f0edee;
    font-size: 1.2em; }
    header #nav a {
      color: #2c666e; }
  header .idea {
    font-weight: 400; }
  header .share {
    font-weight: 600; }

#form {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  padding: 4em; }
  #form #form-box {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    color: #0a090c;
    box-sizing: border-box;
    margin: 0 auto;
    width: 30em;
    padding: 1.5em;
    border-radius: 12px;
    border: 2px solid #C0C0CA;
    text-align: center; }
    #form #form-box form {
      margin: 0;
      flex-direction: inherit; }
      #form #form-box form .form-group {
        justify-content: space-between;
        align-items: baseline;
        display: flex; }
      #form #form-box form .form-group:not(:last-child) {
        padding-bottom: 38px; }
      #form #form-box form label {
        margin: auto; }
      #form #form-box form .btn {
        background-color: #00aced;
        color: #f0edee;
        width: 100%; }
      #form #form-box form input {
        border: 1px solid #C0C0CA;
        border-radius: 6px;
        padding: 0.8em;
        width: 22em; }

#projects {
  list-style: none;
  padding: 0; }
  #projects li {
    border-width: 1px 0;
    border-style: solid;
    border-color: #C0C0CA;
    margin: 2em;
    padding: 1em; }
