//8eb8e5-7c99b4-6b7f82-5b5750-492c1d

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Open+Sans');

h1,h2,h3,h4,h5,h6{
	font-family: 'Black Han Sans', serif;
}

html{
	margin: 0;
	padding: 0;
}
body {
	background-color:#EEE;
	font-family: 'Open Sans', sans-serif;
	margin: inherit;
	padding: inherit;
}
header{
	margin: inherit;
	padding: 2em;
	font-family: 'Black Han Sans', sans-serif;
}
header p{
	margin: inherit;
}
input .form-control{
	width: 16em;
}
form{
	font-family: 'Open Sans', sans-serif;
}
.btn-primary{
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	background-color: #8eb8e5;
	border: 0px;
	padding: 0.6em;
}