@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,600');

$blue: #90ddf0;
$black: #0a090c;
$white: #f0edee;

html{
	color: $black;
	padding: 0;
	margin: 0;
}
body{
	margin: inherit;
	padding: inherit;
}
header{
	font-family: "Oswald", serif;
	background-color: $blue;
	padding: 0.6em;
	h1,h2,h3,h4,h5,h6{
		padding: inherit;
		margin: 0;
	}
	.idea{font-weight: 400;}
	.share{font-weight: 600;}
}
form{
	display: flex;
	justify-content: center;
	align-items: stretch;
}