html
	head
		title=title
		link(rel='stylesheet', href='/css/style.css')
body
	div(id="main")
		form(method="post" action="login" accept-charset="utf-8")
			div.form-group
				label(for='user_name') User Name:
				input#user_name.form-control(type='text', placeholder='username', user_name='user_name')
			div.form-group
				label(for='password') Password:
				input#password.form-control(type='password', placeholder='password', password='password')
			button.btn.btn-primary(type='submit') Login